*{

	margin: 0;
	font-family: 'JetBrains Mono', monospace;
}

body{

	background-color: black;
	color: white;
}

.header{

	display: grid;

	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 100px;
	grid-template-areas: "hLeft hMid hRight";

	padding: 1rem 0;

	.left,.mid,.right{

		display: flex;
		align-items: center;
		justify-content: center;
	}

	.left{

		grid-area: hLeft;

		img{height: 100%;}
	}

	.mid{

		grid-area: hMid;

		a{
			
			color: white;
			text-decoration: none;
			font-size: xx-large;
		}
	}

	.right{

		grid-area: hRight;

		i{cursor: pointer;}
	}
}

.content{

	display: grid;

	grid-template-columns: 1fr 2fr 2fr 1fr;
	grid-template-rows: auto;
	grid-template-areas: ". cLeft cRight .";

	.left{

		grid-area: cLeft;
	}

	.right{

		grid-area: cRight;

		.site-slide{

			.img-wrapper{
	
				aspect-ratio: 4 / 3;
	
				img{width: 100%;}
			}
		}

	}
}