*{
	margin: 0;
	padding: 0;
	font-family: 'JetBrains Mono', monospace;
}

$large-breakpoint: 900px;
$med-breakpoint: 500px;
$sm-breakpoint: 400px;

.grid-container{
	min-height: 100vh;
	display: grid;
	grid-template-columns: 1fr 5fr 1fr;
	grid-template-rows: 120px 1fr 150px;
	grid-template-areas: 
		"header header header"
		". content ."
		"footer footer footer"
	;

	@media(max-width:$large-breakpoint){
		grid-template-rows: 200px 1fr 150px;
	}
		
	background-color: black;
	color: white;

	a{
		color: white;
		text-decoration: none;
	}

	nav{
		grid-area: header;
		display: grid;
		grid-template-rows: auto auto;
		grid-template-columns: 1fr 6fr 1fr;
		grid-template-areas: "logo title menu""logo title menu";

		.logo,.title,.menu-btn{
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.logo{
			grid-area: logo;
			cursor: pointer;
			img{height: 100px;}
		}

		.title{
			grid-area: title;
			font-size: 3rem;
		}

		.menu{
			display: none;
			justify-content: space-around;
			background-color: black;
			font-size: 1.5rem;
			h1{cursor: pointer;}
			.active{color: blue;}
		}

		.menu-btn{
			grid-area: menu;
			i{cursor: pointer;&:hover{color: blue;}}
		}

		@media(max-width:$large-breakpoint){
			grid-template-areas: "logo title title""menu menu menu";

			.title{font-size: 1.5rem;}
			.menu{grid-area:menu;display:flex;font-size:1rem;}
			.menu-btn{display: none;}
		}

		@media(max-width:$med-breakpoint){
			grid-template-areas: "logo title title""menu menu menu";

			.title{font-size: 1rem;}
			.menu{font-size: .8rem;}
		}

		@media(max-width:$sm-breakpoint){
			.logo img{
				height: 60px;
			}
		}
	}

	.content{
		grid-area: content;

		display: flex;
		gap: 1rem;

		.half-col{
			flex: 0 1 50%;
			display: flex;
			align-items: center;
			justify-content: center;

			img{
				height: 20rem;
				border-radius: .5rem;
				@media(max-width:$med-breakpoint){height: 10rem;}
			}

			.intro{
				font-size: 1.3rem;
				a{color: blue;}
			}
		}

		@media(max-width:$large-breakpoint){
			flex-direction: column;
		}
	}

	.about-me,.skills,.portfolio{
		display: none;
		h1,h3{margin-bottom: .5rem;}
	}

	.about-me{
		flex-direction: column;
		justify-content: center;
	}

	.skills{
		justify-content: space-around;
		align-items: center;

		ul{margin-bottom: 1rem;}
		.column{display: none;}

		@media(max-width:$large-breakpoint){
			.hide{display: none;}
			.column{display: block;}
		}
	}

	.portfolio{
		align-items: center;
		justify-content: center;

		.site{
			aspect-ratio: 1 / 1;

			img{width: 100%;}
			
			.title{
				margin-bottom: .5rem;
				h3{margin-bottom:0;}
			}
		}
	}

	footer{
		grid-area: footer;
		display: flex;
		justify-content: space-around;
		align-items: flex-end;
		font-size: 5rem;

		@media(max-width:$sm-breakpoint){
			font-size: 3rem;
		}
	}
}