* {
  margin: 0;
  padding: 0;
  font-family: "JetBrains Mono", monospace;
}

.grid-container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: 120px 1fr 150px;
  grid-template-areas: "header header header" ". content ." "footer footer footer";
  background-color: black;
  color: white;
}
@media (max-width: 900px) {
  .grid-container {
    grid-template-rows: 200px 1fr 150px;
  }
}
.grid-container a {
  color: white;
  text-decoration: none;
}
.grid-container nav {
  grid-area: header;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 6fr 1fr;
  grid-template-areas: "logo title menu" "logo title menu";
}
.grid-container nav .logo, .grid-container nav .title, .grid-container nav .menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid-container nav .logo {
  grid-area: logo;
  cursor: pointer;
}
.grid-container nav .logo img {
  height: 100px;
}
.grid-container nav .title {
  grid-area: title;
  font-size: 3rem;
}
.grid-container nav .menu {
  display: none;
  justify-content: space-around;
  background-color: black;
  font-size: 1.5rem;
}
.grid-container nav .menu h1 {
  cursor: pointer;
}
.grid-container nav .menu .active {
  color: blue;
}
.grid-container nav .menu-btn {
  grid-area: menu;
}
.grid-container nav .menu-btn i {
  cursor: pointer;
}
.grid-container nav .menu-btn i:hover {
  color: blue;
}
@media (max-width: 900px) {
  .grid-container nav {
    grid-template-areas: "logo title title" "menu menu menu";
  }
  .grid-container nav .title {
    font-size: 1.5rem;
  }
  .grid-container nav .menu {
    grid-area: menu;
    display: flex;
    font-size: 1rem;
  }
  .grid-container nav .menu-btn {
    display: none;
  }
}
@media (max-width: 500px) {
  .grid-container nav {
    grid-template-areas: "logo title title" "menu menu menu";
  }
  .grid-container nav .title {
    font-size: 1rem;
  }
  .grid-container nav .menu {
    font-size: 0.8rem;
  }
}
@media (max-width: 400px) {
  .grid-container nav .logo img {
    height: 60px;
  }
}
.grid-container .content {
  grid-area: content;
  display: flex;
  gap: 1rem;
}
.grid-container .content .half-col {
  flex: 0 1 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.grid-container .content .half-col img {
  height: 20rem;
  border-radius: 0.5rem;
}
@media (max-width: 500px) {
  .grid-container .content .half-col img {
    height: 10rem;
  }
}
.grid-container .content .half-col .intro {
  font-size: 1.3rem;
}
@media (max-width: 900px) {
  .grid-container .content {
    flex-direction: column;
  }
}
.grid-container .about-me, .grid-container .skills, .grid-container .portfolio {
  display: none;
}
.grid-container .about-me h1, .grid-container .about-me h3, .grid-container .skills h1, .grid-container .skills h3, .grid-container .portfolio h1, .grid-container .portfolio h3 {
  margin-bottom: 0.5rem;
}
.grid-container .about-me {
  flex-direction: column;
  justify-content: center;
}
.grid-container .skills {
  justify-content: space-around;
  align-items: center;
}
.grid-container .skills ul {
  margin-bottom: 1rem;
}
.grid-container .skills .column {
  display: none;
}
@media (max-width: 900px) {
  .grid-container .skills .hide {
    display: none;
  }
  .grid-container .skills .column {
    display: block;
  }
}
.grid-container .portfolio {
  align-items: center;
  justify-content: center;
}
.grid-container .portfolio .site {
  aspect-ratio: 1/1;
}
.grid-container .portfolio .site img {
  width: 100%;
}
.grid-container .portfolio .site .title {
  margin-bottom: 0.5rem;
}
.grid-container .portfolio .site .title h3 {
  margin-bottom: 0;
}
.grid-container footer {
  grid-area: footer;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  font-size: 5rem;
}
@media (max-width: 400px) {
  .grid-container footer {
    font-size: 3rem;
  }
}

/*# sourceMappingURL=style.css.map */
